@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #222223;
    color: #DFDFDF;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 4rem;
    align-items: center;
}

.header__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero__presentation {
    text-align: center;
    font-size: 2.1rem;
}

.separator {
    margin: 2rem auto;

}

.projects{

}

.projects__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.project {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.project__title {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.project__image {
    width: 275px;
    height: 275px;
}

.project-description, .project-description-final {
    text-align: left;
}

.project-description {
    padding-top: 5%;
}

.project-description-final {
    padding-top: 5%;
    padding-bottom: 5%;
}

.project-link {
    padding-top: 3%;
    padding-bottom: 5%;
}

.link {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 200%;
}

p{
    font-size: 120%;
}

.background-text-box {
    font-family: 'Rajdhani', sans-serif;
}



.Button {
    margin: 10px;
    text-decoration: none;
    font-weight: 400;
    color: #DFDFDF;
}
