@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #222223;
    color: #DFDFDF;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-padding-top: 4rem;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.header {
    height: 4rem;
    width: 100%;
    align-items: center;
    position: fixed;
    background:#2a2a2bea;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.header__logo {
    font-size: 1.5em;
}

.header__sections-links {
    display: flex;
    gap: 1.25rem;
}

.header__sections-links a{
    text-decoration: none;
    color: #DFDFDF;
}

.header__sections-links a:hover {
    color: #7AB4EE;
} 

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero__presentation {
    text-align: center;
    font-size: 2.5rem;
}

.separator {
    margin: 2rem auto;

}

.projects{

}

.projects__title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.project {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    flex-direction: column;
}

.project__body {
    display: flex;
    gap: 1rem;
}

.project__info {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.project__title {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 2.5rem;
}

.project__description--highlighted {
    color: #7AB4EE;
}

.project__image {
    width: 275px;
    height: 275px;
}

.project__footer {
    margin: 1rem 4rem 1rem 0;
}

.project__link {
    padding: 1rem;
    background: linear-gradient(180deg, #7AB4EE 0%, #2282E3 100%);
    box-shadow: 0px 2px 6px rgba(29, 111, 194, 0.5);
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color: #181818; 
    cursor: pointer;
    text-decoration: none;
}

.project__link:hover {
    background: linear-gradient(180deg, #2282E3 0%, #7AB4EE 100%);
}

.links {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
}

.links__title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.links__body {
    text-align: center;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.link__button {
}

.link__buttton-image {
    width: 6rem;
    height: 6rem;
}

.link__buttton-image:hover {

}