@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Rajdhani&display=swap');

* {
    box-sizing: border-box;
}

html {
    background: #222223;
    color: #DFDFDF;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-padding-top: 4rem;
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.header {
    width: 100%;
    position: fixed;
    background:#2a2a2bea;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media(min-width:768px){
    .header {
        height: 4rem;
        padding: 0 2rem;
        font-size: 1rem;
    }
}

.header__logo {
    font-size: 1.5em;
    padding-left: 1.5rem;
}

.header__sections-links {
    display: none;
}

@media(min-width:768px){
    .header__sections-links {
        display: flex;
        gap: 1.25rem;
    }
}

.header__sections-links a{
    text-decoration: none;
    color: #DFDFDF;
}

.header__sections-links a:hover {
    color: #7AB4EE;
} 

.header__spacer {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:768px){
    .header__spacer {
        display: none;
    }
}

.header__menu {

}

.sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #2a2a2b;
    transition: all 0.5s ease;
    z-index: 5;
    align-items: flex-end;
}

@media(min-width:768px) {
    .sidebar {
        display: none;
    }
}

.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding-left: 1rem;
}

.sidebar__close-icon {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #DFDFDF;
}

.icon-close {
    transform: scale(2);
}

.sidebar__items {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    font-size: 48px;
}

.sidebar__item {
    color: #DFDFDF;
    padding: 1rem 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

#sidebar-check {
    display: none;
}

#sidebar-check:checked ~ .sidebar {
    right: 0;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero__presentation {
    text-align: center;
    font-size: 1.8rem;
    margin: auto 2rem;
}

@media(min-width:768px){
    .hero__presentation {
        text-align: center;
        font-size: 2.5rem;
        margin: inherit;
    }
}

.separator {
    margin: 2rem auto;

}

.projects__title {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
}

@media(min-width:768px){
    .projects__title {
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }
}

.project {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
}

@media(min-width:768px){
    .project {
        gap: 0.5rem;
    }
}

.project__body {
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
}

@media(min-width:768px){
    .project__body {
        flex-direction: row;
    }
}

.project__info {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 1rem;
}

@media(min-width:768px){
    .project__info {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 2fr 1fr;

    }
}

.project__title {
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
}

@media(min-width:768px){
    .project__title {
        margin: unset;
        margin-bottom: 1.5rem;   
        font-size: 2.5rem;
    }
}

.project__description {
    margin: 0 1rem;
    font-size: 1rem;
}

@media(min-width:768px){
    .project__description {
        margin: unset;
        font-size: unset;
    }
}

.project__description--highlighted {
    color: #7AB4EE;
}

.project__image {
    width: 225px;
    height: 225px;
    align-self: center;
}

@media(min-width:768px){
    .project__image {
        align-self: unset;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        align-self: center;
        margin: 0 auto;
    }
}

.project__footer {
    margin: 1rem 4rem 1rem 0;
}

.project__link {
    padding: 1rem;
    background: linear-gradient(180deg, #7AB4EE 0%, #2282E3 100%);
    box-shadow: 0px 2px 6px rgba(29, 111, 194, 0.5);
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color: #181818; 
    cursor: pointer;
    text-decoration: none;
}

.project__link:hover {
    background: linear-gradient(180deg, #2282E3 0%, #7AB4EE 100%);
}

.links {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
}

.links__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.links__body {
    text-align: center;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.link__buttton-image {
    width: 5rem;
    height: 5rem;
}

@media(min-width:768px){
    .link__buttton-image {
        width: 6rem;
        height: 6rem;
    }  
}